.App
    width: 40%
    margin-top: 50px
    .App_form
        display: flex
        flex-direction: column
        justify-content: space-between
        div
            margin-bottom: 10px
            display: flex
            justify-content: space-between
            .App_form_inputs_input
                width: 100%