@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap')
body
    height: 100vh
    width: 100vw
    max-height: 100vh
    max-width: 100vw
    background-color: rgb(230, 230, 230)
    

*
    margin: 0
    font-family: 'Roboto'
    box-sizing: border-box

#root
    height: inherit
    width: inherit
    position: relative
    display: flex
    justify-content: center
