.Sidebar
    position: fixed
    left: 0
    top: 50%
    margin: auto 0
    display: flex
    flex-direction: column
    transform: translateY(-50%)
    button
        padding: 30px 40px
        overflow: hidden
        border: none
    
    button:hover
        background-color: grey
        cursor: pointer
    
    .active
        background-color: grey
    
